<nav class="nav">
  <a href="/" class="logo">OpenJoke</a>
  <ul class="nav-list">
    <li class="nav-item"><a class="nav-link" href="/joke">Joke</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Github</a></li>
  </ul>
</nav>
