mixin navItem(text, href)
  li.nav-item
    a.nav-link(href=href)= text
      if block
        block

nav(class="nav")
  .container
    .nav-content
      a(href="/" class="logo") OPENJOKE
      ul.nav-list 
        +navItem("login", "/login")
        +navItem("", "https://google.com")
          i.ri-github-fill.ri-2x


//- i.ri-github-fill
