mixin navItem(text, href)
  li.nav-item
    if block
      a.nav-link(href=href)
        block
    else
      a.nav-link(href=href)= text

nav(class="nav")
  .container
    .nav-content
      a(href="/" class="logo") 😂PENJOKE
      ul.nav-list 
        +navItem("login", "/login")
        +navItem("", "https://google.com")
          i.ri-github-fill.ri-2x


//- i.ri-github-fill
