extends ./partials/layout

block content
  .container
    header
    .hero
      .hero-body
        h1.hero-title The open source joke api powered by you
        p.hero-text A programmer puts two glasses on his bedside table before going to sleep. A full one, in case he gets thirsty, and an empty one, in case he doesn’t.
        a.btn.hero-btn(href="/joke") Browse jokes 😆
      .hero-img
        img(src="/img/hero.png")