@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=PT+Sans&family=Poppins:wght@400;700&display=swap");

/* 
    font-family: 'Arvo', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
*/

/* Reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --color-primary: #060f2f;
  --color-secondary: #1b2240;
  --color-text: #373a3c;
  --color-white: #fff;
  --alt-ff: "Verdana, Geneva, Tahoma, sans-serif";
}

body {
  font-family: "Poppins", var(--alt-ff);
  padding: 12em 0 10em;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button,
input,
.form-hint {
  font-family: "Poppins", var(--alt-ff);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  background: none;
  outline: none;
}

/* Global */
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.btn:hover {
  opacity: 0.7;
}

.alert {
  font-size: 1.6rem;
  padding: 15px;
  margin-bottom: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  border-color: #d6e9c6;
  background-color: #dff0d8;
}

.alert-danger {
  color: #a94442;
  border-color: #ebccd1;
  background-color: #f2dede;
}

.title {
  margin-bottom: 0.625em;
  font-size: 3.2rem;
  font-weight: 700;
  font-family: "Arvo", var(--alt-ff);
  color: var(--color-text);
}

.text {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-text);
}

/* Nav */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 1em;
  width: 100%;
  background-color: var(--color-secondary);
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.logo,
.nav-link {
  text-decoration: none;
  color: var(--color-white);
}

.logo {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 700;
  font-family: "Arvo", var(--alt-ff);
}

.nav-link {
  font-size: clamp(1.5rem, 4vw, 2rem);
  text-transform: capitalize;
  font-family: "PT Sans", var(--alt-ff);
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
}

.hero-title {
  font-size: clamp(3rem, 4vw, 5rem);
  max-width: 20ch;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  font-family: "Arvo", var(--alt-ff);
  color: #6b9ac4;
  margin-bottom: 0.425em;
}

.hero-text {
  font-size: clamp(1.6rem, 4vw, 2.5rem);
  font-weight: 400;
  max-width: 90ch;
  line-height: 1.3;
  margin-bottom: 4em;
  color: var(--color-text);
}

.hero-btn {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.25em 2.5em;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* Joke */
.joke-container {
  display: grid;
  gap: 1em;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.joke,
.joke-new {
  padding: 1em;
  height: 200px;
  border: 1px solid var(--color-secondary);
  transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
}

.joke-new {
  font-size: 5rem;
  color: var(--color-primary);
  font-weight: 700;
}

.joke {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6rem;
  color: var(--color-secondary);
}

.joke:hover,
.joke-new:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

/* Login form */

.login-form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.form-title {
  margin-bottom: 1em;
  text-transform: uppercase;
}

.form-input {
  font-size: 2rem;
  width: 100%;
  min-width: 0;
  padding: 0.5em 0;
  border-bottom: 4px solid rgba(0, 0, 0, 0.144);
  transition: border-color 0.4s;
}

.form-input:focus {
  border-bottom-color: var(--color-secondary);
}

.form-btn {
  font-size: 1.6rem;
  margin-top: 1em;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--color-secondary);
  padding: 1em;
}

.form-hint {
  font-size: 1.5rem;
}

@media only screen and (max-width: 40em) {
  body {
    padding-top: 10em;
  }
  .hero {
    flex-direction: column;
  }
  .hero-img {
    margin-top: 5em;
  }
}
