@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=PT+Sans&family=Poppins:wght@400;700&display=swap");

/* 
    font-family: 'Arvo', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --color-primary: #060f2f;
  --color-secondary: #1b2240;
  --color-text: #373a3c;
  --color-white: #fff;
  --alt-ff: "Verdana, Geneva, Tahoma, sans-serif";
}

body {
  font-family: "Poppins", var(--alt-ff);
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: none;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.alert {
  font-size: 1.6rem;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  border-color: #d6e9c6;
  background-color: #dff0d8;
}

.alert-danger {
  color: #a94442;
  border-color: #ebccd1;
  background-color: #f2dede;
}

.title {
  margin-bottom: 0.625em;
  font-size: 3.2rem;
  font-weight: 700;
  font-family: "Arvo", var(--alt-ff);
  color: var(--color-text);
}

.text {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-text);
}

.nav {
  margin-bottom: 2em;
  background-color: var(--color-secondary);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 1em;
}

.logo,
.nav-link {
  text-decoration: none;
  color: var(--color-white);
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Arvo", var(--alt-ff);
}

.nav-link {
  font-size: 1.8rem;
  font-family: "PT Sans", var(--alt-ff);
}

.hero {
  margin-top: 5em;
  display: flex;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

.hero-title {
  font-size: 5rem;
  max-width: 20ch;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Arvo", var(--alt-ff);
  /* color: var(--color-text); */
  /* color: #aa767c; */
  color: #6b9ac4;
  margin-bottom: 0.425em;
}

.hero-text {
  font-size: 2rem;
  font-weight: 400;
  max-width: 90ch;
  margin-bottom: 3em;
  color: var(--color-text);
}

.hero-btn {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.25em 2.5em;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
