extends ../partials/layout

block content
  mixin joke(text)
    a.joke(href="/joke/10")= text
      
  .container
    .joke-container
      a(href='/joke/new' class="joke-new flex-center") &#43;
      +joke("Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam provident eos illum atque veniam alias tempora fugit pariatur recusandae sed.")
      +joke("Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam provident eos illum atque veniam alias tempora fugit pariatur recusandae sed.")
      +joke("Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam provident eos illum atque veniam alias tempora fugit pariatur recusandae sed.")
      +joke("Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam provident eos illum atque veniam alias tempora fugit pariatur recusandae sed.")
      +joke("Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Omnis ut ipsa nostrum aperiam, iste laudantium sapiente odio suscipit asperiores perspiciatis obcaecati porro maxime reprehenderit voluptatibus debitis modi reiciendis dignissimos tempora! Dicta ipsa quaerat ipsam minus distinctio, accusamus sequi sapiente porro rem neque consequuntur temporibus laudantium aspernatur debitis odit aperiam iusto.")
      +joke("Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam provident eos illum atque veniam alias tempora fugit pariatur recusandae sed.")
      +joke("Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam provident eos illum atque veniam alias tempora fugit pariatur recusandae sed.")
      +joke("Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam provident eos illum atque veniam alias tempora fugit pariatur recusandae sed.")
      +joke("Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam provident eos illum atque veniam alias tempora fugit pariatur recusandae sed.")
      +joke("Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam provident eos illum atque veniam alias tempora fugit pariatur recusandae sed.")
      +joke("Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam provident eos illum atque veniam alias tempora fugit pariatur recusandae sed.")
       