<style>
  form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  input,
  textarea {
    padding: 1em;
  }

  button {
    cursor: pointer;
    padding: 1em;
  }
</style>

<div class="container">
  <h1>Add new joke :)</h1>
  <form action="/joke" method="post">
    <input name="author" type="text" placeholder="author" required />
    <textarea name="joke" cols="30" rows="10" placeholder="joke" required></textarea>
    <button type="submit">Submit</button>
  </form>
</div>
