body {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.alert {
  padding: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
}
